@using FoodHome.Core.Models.Dish;
@model OrderDishView;


<div class="product">
    <div class="product-image">
        <img src="@Model.ImageUrl">
    </div>
    <div class="product-details">
        <div class="product-title">@Model.Name</div>
        <p class="product-description">@Model.Ingredients</p>
    </div>
    <div class="product-price">@Model.Price</div>
    <div class="product-quantity">
        @if (!@Model.IsEnabled)
        {
            <input type="text" disabled="disabled" aria-valuemin="1" value="@Model.Quantity"/>
        }
        else
        {
            
            <div class="button-plus" style="display: inline-block">
                <a asp-action="AddToCart" asp-controller="Dish" asp-route-dishId="@Model.Id" class="btn btn-outline-secondary add-btn" type="button"><i class="fa fa-plus"></i></a>
            </div>
            <input type="text" asp-for="@Model.Quantity" value="@Model.Quantity" aria-valuemin="1" value="@Model.Quantity" />
            <div class="button-minus" style="display: inline-block">
                <a asp-action="DecreaseDishQuantity" asp-controller="Dish" asp-route-dishId="@Model.Id" class="btn btn-outline-secondary minus-btn" type="button"><i class="fa fa-minus"></i></a>
            </div>
           
        }
       

    </div>
    <div class="product-removal">
        <button class="remove-product">
            Remove
        </button>

        <input asp-for="Id" type="hidden" id="dishId" class="ids" value="@Model.Id" />
    </div>

    <div class="product-line-price">@(Model.Price * Model.Quantity)</div>
</div>

