@model PaymentFormModel


<div class="container-fluid px-1 px-md-2 px-lg-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-sm-11">


            <div class="card border-0">
                <div class="row justify-content-center">
                    <h3 class="mb-4">Credit Card Checkout</h3>
                </div>
                <form method="post" asp-action="Payment" asp-controller="Payment" class="requires-validation">
                    <div class="row">
                        <div class="col-sm-7 border-line pb-3">
                            <div class="form-group">
                                <p class="text-muted text-sm mb-0">Name on the card</p>
                                <input asp-for="@Model.CardHolder" type="text" name="name" placeholder="Name" size="15">
                                <br />
                                <span asp-validation-for="@Model.CardHolder" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <p class="text-muted text-sm mb-0">Card Number</p>
                                <div class="row px-3">
                                    <input asp-for="@Model.CardNumber" type="text" name="card-num" placeholder="0000 0000 0000 0000" size="18" id="cr_no" minlength="19" maxlength="19">
                                    <br />
                                    <span asp-validation-for="@Model.CardNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="text-muted text-sm mb-0">Expiry date</p>
                                <input asp-for="@Model.ExpiryDate" type="text" name="exp" placeholder="MM/YY" size="6" id="exp" minlength="5" maxlength="5">
                                <br />
                                <span asp-validation-for="@Model.ExpiryDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <p class="text-muted text-sm mb-0">CVV/CVC</p>
                                <input asp-for="@Model.SecurityCode" type="text" name="cvv" placeholder="000" size="1" minlength="3" maxlength="3">
                                <br />
                                <span asp-validation-for="@Model.SecurityCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-5 text-sm-center justify-content-center pt-4 pb-4">
                            <small class="text-sm text-muted">Payment amount</small>
                            <div class="row px-3 justify-content-sm-center">
                                <h2 class=""><span class="text-md font-weight-bold mr-2">$</span><span class="text-danger">@Model.Amount lv.</span></h2>
                                <input type="hidden" asp-for="@Model.Amount" value="@Model.Amount" />
                                <input type="hidden" asp-for="@Model.RestaurantId" value="@Model.RestaurantId" />
                            </div>
                            <button type="submit" class="btn btn-red text-center mt-4">PAY</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Styles
    {
    <link rel="stylesheet" href="~/css/payment.css" asp-append-version="true" />
}

@section Scripts
    {
    <script src="~/js/payment.js" asp-append-version="true"></script>
}
