@using FoodHome.Core.Models.Dish;
@model List<DishViewModel>;



<section class="main-content" >

    <div class="container" >
        <h1 class="text-center text-uppercase text-black">Menu</h1>
        <div class="row">
            @foreach (var dish in Model)
            {
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="food-card">
                        <div class="food-card_img">
                            <img src="@dish.DishImageUrl" alt="">
                            
                        </div>
                        <div class="food-card_content">
                            <div class="food-card_title-section">
                                <h2 class="food-card_title text-black">@dish.Name</h2>
                                <div class="space-between">
                                    <p class="badge badge-success">@dish.Description</p>
                                </div>
                                
                            </div>
                            <div class="food-card_bottom-section">
                                <div class="space-between">
                                    <p class="badge badge-success">Ingredients: @dish.Ingredients</p>
                                </div>
                                <div class="space-between">
                                    <div class="food-card_price">
                                        <span>@dish.Price лв.</span>
                                    </div>
                                    <a asp-action="Edit" asp-controller="Dish" asp-route-dishId="@dish.Id" class="btn btn-warning text-black" data-toggle="button" aria-pressed="false" autocomplete="off">Edit</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            }
        </div>
    </div>

</section>

@section Styles{
    <link rel="stylesheet" href="~/css/dish.css" asp-append-version="true" />
}