@using FoodHome.Core.Models.Dish;
@using FoodHome.Infrastructure.Data.Entities
@model List<OrderDishView>


<h1>Shopping Cart</h1>

<div class="shopping-cart">
    <form method="post">
        
        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>
        @foreach (var dish in Model)
        {
            <div class="product">
                <div class="product-image">
                    <img src="@dish.ImageUrl">
                </div>
                <div class="product-details">
                    <div class="product-title">@dish.Name</div>
                    <p class="product-description">@dish.Ingredients</p>
                </div>
                <div class="product-price">@dish.Price</div>
                <div class="product-quantity">
                    <input asp-for="@dish.Quantity" value="2" min="1">
                </div>
                <div class="product-removal">
                    <button class="remove-product">
                        Remove
                    </button>
                </div>
                <div class="product-line-price"></div>
            </div>
        }
       
        
        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">71.97</div>
            </div>
            <div class="totals-item">
                <label>Tax (5%)</label>
                <div class="totals-value" id="cart-tax">3.60</div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">15.00</div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">90.57</div>
            </div>
        </div>

        <button class="checkout">Checkout</button>
        <a asp-controller="Restaurant" asp-action="All">Continue Shopping</a>
    </form>
</div>

@section Scripts
{
    <script src="~/js/cart.js" asp-append-version="true"></script>
}
